<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

	<head>
		<title>Home</title>
		
		<object th:include="fragments/fragment :: css" th:remove="tag"></object>
		<object th:include= "fragments/fragment :: js" th:remove="tag"></object>
		
		<style>
			form{
				width: 400px;
			}
			
		</style>
	</head>
	
	<body>
		<nav th:replace="fragments/fragment :: navbar"></nav>
		
		<div class="container-fluid">
			<h2>Sistem Informasi Kepegawaian</h2>
			<p>Selamat datang di Sistem Informasi Kepegawaian</p>
				<div class="row">
				<div class="container-fluid">
				
				<hr>
				<h2>Lihat Data Pegawai berdasarkan NIP</h2>
				<div>
					<label for="nip">Masukkan Nomor Induk Pegawai</label>
					<form th:action="@{/pegawai}" method="GET">
					<input type="text" name="nip" class="form-control"/>
					<p></p>
					<button type="submit" class="btn btn-primary">Lihat</button>
					</form>
				</div>
				
				<hr>
				<h2>Lihat Detail Jabatan</h2>
				<div>
					<form th:action="@{/jabatan/view}" method="GET">
						<label for="id">Pilih Jabatan:</label>
	                        <select name="id" class="form-control">
	                            <option value="">Select Jabatan</option>
	                            <option th:each="jabatan : ${listAllJabatan}"
	                                    th:value="${jabatan.id}"
	                                    th:text="${jabatan.nama}">
	                            </option>
	                        </select>
	                        <p></p>
	                        <button type="submit" class="btn btn-primary">Lihat</button>
							<br>
					</form>
				</div>	
				
				<hr>
				<h2>Lihat Pegawai Termuda dan Tertua</h2>
				<div>
					<form th:action="@{/pegawai/termuda-tertua/}" method="GET">
						<label for="id">Pilih Instansi:</label>
	                        <select name="id" class="form-control">
	                            <option value="">Select Instansi</option>
	                            <option th:each="instansi : ${listAllInstansi}"
	                                    th:value="${instansi.id}"
	                                    th:text="${instansi.nama} +' - '+ ${instansi.provinsi.nama}">
	                            </option>
	                        </select>
	                        <p></p>
	                        <button type="submit" class="btn btn-primary">Lihat</button>
							<br>
					</form>
				</div>	
				
				</div>
				</div>
			</div>
	</body>
</html>
				