<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

	<head>
		<title>Ubah Pegawai</title>
		<object th:include="fragments/fragment :: css" th:remove="tag"></object>
		<object th:include= "fragments/fragment :: js" th:remove="tag"></object>
		
		<style>
			table{
				width: 700px;
			}
			tr, td {
			    padding: 10px;
			    text-align: left;
			}
			</style>
		</head>
		
	<body>
		<nav th:replace="fragments/fragment :: navbar"></nav>
		<div class="container-fluid">
		
		<h3>Ubah Pegawai</h3>
		<form th:action="@{/pegawai/ubah}" th:object="${pegawai}" method="POST">
		
		<table>
			<tr>
				<td>Nama</td>
				<td><input type="text" name="nama" class="form-control"/></td>
			</tr>
			<tr>
				<td>Tempat Lahir</td>
				<td><input type="text" name="tempat_lahir" class="form-control"/></td>
			</tr>
			<tr>
				<td>Tanggal Lahir</td>
				<td><input type="date" name="tanggalLahir" class="form-control" /></td>
			</tr>
			<tr>
				<td>Tahun Masuk</td>
				<td><input type="text" name="tahunMasuk" class="form-control" /></td>
			</tr>
			<tr>
				<td>Provinsi</td>
				<td>
					<select id="provinsi" name="idProvinsi" class="form-control">
					<option disabled="disabled" selected="selected" >Pilih Provinsi</option>
					<option th:each="provinsi : ${listProvinsi}" th:value="${provinsi.id}" th:text="${provinsi.nama}"/>
					</select>
				</td>
			</tr>
			<tr>
				<td>Nama Instansi</td>
				<td>
					<select name="idInstansi" id="instansi" class="form-control">
					<option disabled="disabled" selected="selected" >Pilih Instansi</option>
					<option th:each="instansi : ${listInstansi}" th:value="${instansi.id}" th:text="${instansi.nama}"/>
					</select>
				</td>
			</tr>
			<tr>
				<td>Jabatan</td>
				<td>
					<select name="idJabatan" class="form-control">
					<option disabled="disabled" selected="selected" >Pilih Jabatan</option>
					<option th:each="jabatan, status : ${listJabatan}" th:value="${jabatan.id}" th:text="${jabatan.nama}"/>
					</select>
				</td>
			</tr>
			
		</table>
			<br>
			<button type="submit" class="btn btn-primary">Simpan</button>
		</form>
		</div>

  		
		<script>
		   $(document).ready( function () {
		       $('#table_id').DataTable();
		   } );
		   
		   $('#provinsi').change(
		        function() {
		            $.getJSON("/provinsi/instansi", {
		                provinsiId : $(this).val(),
		                ajax : 'true'
		            }, function(data) {
		                var html = '<option value="">Pilih Instansi</option>';
		                var len = data.length;
		                for ( var i = 0; i < len; i++) {
		                    html += '<option value="' + data[i].id + '">'
		                            + data[i].nama + '</option>';
		                }
		                html += '</option>';
		                $('#instansi').html(html);
		    });
		   });
		  </script>
		  
	</body>

</html>