<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

	<head>
		<title>Pegawai</title>
		
		<object th:include="fragments/fragment :: css" th:remove="tag"></object>
		<object th:include= "fragments/fragment :: js" th:remove="tag"></object>
	
		<style>
			tr, td {
			    padding: 10px;
			    text-align: left;
			}
		</style>
	</head>
	
	<body>
		<nav th:replace="fragments/fragment :: navbar"></nav>
		<div class="container-fluid">
		<div class="row">
            <div class="col-md-6">
			<h2>Data Pegawai Termuda</h2>
			
			<table>
				<tr>
					<td>NIP</td>
					<td th:text="${termuda.getNip()}"></td>
				</tr>
				<tr>
					<td>Nama</td>
					<td th:text="${termuda.getNama()}"></td>
				</tr>
				<tr>
					<td>Tempat Lahir</td>
					<td th:text="${termuda.getTempat_lahir()}"></td>
				</tr>
				<tr>
					<td>Tanggal Lahir</td>
					<td th:text="${termuda.getTanggalLahir()}"></td>
				</tr>
				<tr>
					<td>Tahun Masuk</td>
					<td th:text="${termuda.getTahunMasuk()}"></td>
				</tr>
				<tr>
					<td>Nama Instansi</td>
					<td th:text="${termuda.getInstansi().nama}"></td>
				</tr>
				<tr>
					<td>Jabatan</td>
					<td>
						<div th:each="jabatan : ${termuda.getJabatan()}">
                        	<span th:text="${jabatan.getNama()}"></span>
                    	</div>
					</td>
				</tr>
			</table>
			</div>
			
			<div class="col-md-6">
			<h2>Data Pegawai Tertua</h2>
			
			<table>
				<tr>
					<td>NIP</td>
					<td th:text="${tertua.getNip()}"></td>
				</tr>
				<tr>
					<td>Nama</td>
					<td th:text="${tertua.getNama()}"></td>
				</tr>
				<tr>
					<td>Tempat Lahir</td>
					<td th:text="${tertua.getTempat_lahir()}"></td>
				</tr>
				<tr>
					<td>Tanggal Lahir</td>
					<td th:text="${tertua.getTanggalLahir()}"></td>
				</tr>
				<tr>
					<td>Tahun Masuk</td>
					<td th:text="${tertua.getTahunMasuk()}"></td>
				</tr>
				<tr>
					<td>Nama Instansi</td>
					<td th:text="${tertua.getInstansi().nama}"></td>
				</tr>
				<tr>
					<td>Jabatan</td>
					<td>
						<div th:each="jabatan : ${tertua.getJabatan()}">
                        	<span th:text="${jabatan.getNama()}"></span>
                    	</div>
					</td>
				</tr>
			</table>
			</div>
	
			</div>
		</div>
	</body>
</html>
	